<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Count</title>
</head>
<body>
<div>
    <h1>Количество машин: <span th:text="${carCount}"></span></h1>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Цвет</th>
            <th scope="col">Год</th>
            <th scope="col">Двигатель</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${printCar}">
            <td th:text="${car.color}"></td>
            <td th:text="${car.year}"></td>
            <td th:text="${car.engine}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>